<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <header class="row align-items-start bg-light">
      <h1 class="col col-lg-4"><a href="/">Tech Blog</a>
      </h1>
      <nav class="column align-items-end col my-1 d-flex justify-content-end">
        {{#unless loggedIn}}
      <button id="login" class="btn btn-warning mx-1"><a href="/login">Login</a></button>
      <button id="sign-up" class="btn btn-warning mx-1"><a href="/sign-up">Sign-up</a></button>
      {{/unless}}
      {{#if loggedIn}}
      <button type="button" id="logout" class="btn btn-warning mx-1"><a href="/logout">Logout</a></button>
      <button id="dashboard" class="btn btn-warning mx-1"><a href="/dashboard">Dashboard</a></button>
      {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    </div>
    <footer class=" bg-light p-2 text-center">
      Thanks for visiting!
    </footer>
  <script src="/javascript/logout.js"></script> 
  <script src="/utils/helpers.js"></script>
</body>
</html>