<ul class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <div class = "info"><a href="/posts/{{id}}">{{post.title}}</a> created on {{format_date post.created_at}}</div>
      </div>
      <div class="meta">
      
      </div>
    </article>
  </li>
  {{/each}}
</ul>
<script src="/utils/helpers.js"></script>